

body {
  background-color: green;
}

header{
  height: 30px;
  font-size: 15px;
  background-color: grey;
  text-align: center;
}

.time-and-score{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: blue;
  margin-bottom: 5px;
  .time{
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 50px;
  }
  .score{
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 50px;
  }
}


.main-container {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.pot{
  width: 115px;
  height: 115px;
  margin: 0 9px;
  background-color: pink;
}

.start-div{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.change-color{
  background-color: yellow;
}

.timer-countdown, .score-board{
  line-height: 3rem;
}

.hide{
  display: none;
}
