html{
  height: 100%;
  background-color: #D4CBC7;
}

body {
font-family: 'Indie Flower', cursive;
}

header{
  color: #F88D4B;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  h1{
    margin: 0 auto;
    font-size: 50px;
  }
}

.time-and-score{
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
  .time{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    margin-left: 100px;
    .timer-countdown{
      line-height: 3rem;
    }
  }
  .score{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    margin-right: 100px;
    .score-board{
      line-height: 3rem;
    }
  }
  .level-description{
    text-align: center;
    font-size: 20px;
    width: 400px;
    height: 50px;
    .level-description-span{
      line-height: 2rem;
    }
  }
}

.instructions-screen{
  background-color: #a2d9ff;
  width: 960px;
  margin: 0 auto;
  border: 2px solid #f6dcdc;
  .instructions{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .game-explanation-text{
      padding: 0 5px;
    }
  }

  #character-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    .selection-title{
      text-align: center;
      margin: 0 auto;
      h1{
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
  }
  .characters-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    .fighter{
      font-family: 'Indie Flower', cursive;
      font-size: 15px;
      outline: none;
      border: none;
      width: 115px;
      height: 115px;
      border-radius: 2%;
    }
    #chef-man-button{
      background: url("/images/chef-man-still.png");
      border: 2px solid #f6dcdc;
    }
    #ramen-girl-button{
      background: url("/images/ramen-girl-still.png");
      border: 2px solid #f6dcdc;
    }
  }
  .difficulties-div{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .difficulty-buttons{
      font-family: 'Indie Flower', cursive;
      font-size: 15px;
      outline: none;
      border: none;
      width: 100px;
      height: 25px;
      border-radius: 2%;
    }
    .easy{
      text-align: center;
      flex-wrap: wrap;
      height: 50px;
      width: 300px;
      border: 2px solid #f6dcdc;
      background-color: #cadda5;
    }
    .medium{
      text-align: center;
      flex-wrap: wrap;
      height: 50px;
      width: 300px;
      border: 2px solid #f6dcdc;
      background-color: #e8d055;
    }
    .hard{
      text-align: center;
      flex-wrap: wrap;
      height: 50px;
      width: 300px;
      border: 2px solid #f6dcdc;
      background-color: #c0244a;
    }
  }
  .password-input{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .password-input-button{
      font-family: 'Indie Flower', cursive;
      background-color: #624c34;
      color: white;
      font-size: 15px;
      outline: none;
      border: none;
      width: 100px;
      height: 25px;
      border-radius: 2%;
    }
  }
}

.try-again-text{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.try-again-button{
  display: flex;
  justify-content: center;
  align-items: center;
  #try-again{
    margin-top: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    outline: none;
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 2%;
    background-color: #c39d99;
    border: 1px solid black;
  }
}

.recipes{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .recipe{
    display: flex;
    flex-wrap: wrap;
    .recipe-ingredients{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 200px;
      margin-right: 20px;
      .recipe-image{
        width: 200px;
        border-radius: 50%;
      }
    }
    .method{
      display: flex;
      justify-content: center;
      text-align: left;
      flex-wrap: wrap;
      width: 600px;
      .next-level-button{
        font-family: 'Indie Flower', cursive;
        font-size: 15px;
        outline: none;
        border: none;
        height: 40px;
        width: 125px;
        border-radius: 3%;
        background-color: #c39d99;
        border: 1px solid black;
      }
      .end-button{
        font-family: 'Indie Flower', cursive;
        font-size: 15px;
        outline: none;
        border: none;
        width: 200px;
        height: 25px;
        border-radius: 2%;
        background-color: #c39d99;
        border: 1px solid black;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.final-page{
  display: flex;
  justify-content: center;
  align-items: center;
  .password-button-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    #back-to-home-screen{
      font-family: 'Indie Flower', cursive;
      font-size: 15px;
      outline: none;
      border: none;
      width: 200px;
      height: 25px;
      border-radius: 2%;
      background-color: #c39d99;
      border: 1px solid black;
      margin: 0 auto;
      display: block;
    }
  }
}

.thanks-for-playing{
  .thanks-text{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #thanks-button{
    font-family: 'Indie Flower', cursive;
    font-size: 15px;
    outline: none;
    border: none;
    width: 200px;
    height: 25px;
    border-radius: 2%;
    background-color: #c39d99;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
  }
}

.main-container {
  width: 900px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  .ingredients-list-flex{
    width: 225px;
    border: 2px solid #f6dcdc;
    background-color: #f5f4f4;
    display: flex;
    justify-content: flex-start;
    // flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    h2 {
      font-size: 20px;
      text-align: center;
      text-decoration: underline;
    }
  }
  .points-required-flex{
    width: 225px;
    margin-top: 20px;
    border: 2px solid #f6dcdc;
    background-color: #f5f4f4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

.pots{
  background-color: #f4efef;
  border: 2px solid #f6dcdc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin: 0 20px;
  .pot{
    position: relative;
    width: 115px;
    height: 115px;
    margin: 0 9px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    flex-direction: column;
    .front-pot{
      position: absolute;
      top: 66px;
      z-index: 1;
    }
  }
}

#chef{
  display: flex;
  justify-content: center;
  align-items: right;
  width: 115px;
  height: 115px;
  border: 2px solid #f6dcdc;
  border-radius: 3%;
}

.chef-man-gif{
  background-image: url('/images/chef-man.gif');
}

.ramen-girl-gif{
  background-image: url('/images/ramen-girl.gif');
}

.start-button-div{
  margin-left: 110px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  .start-div{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    .start-button{
      font-family: 'Indie Flower', cursive;
      font-size: 15px;
      outline: none;
      border: none;
      width: 100px;
      height: 25px;
      border-radius: 2%;
      background-color: #c39d99;
      border: 2px solid #f6dcdc;
    }
  }
}

.hide{
  display: none;
}

.random-image {
  overflow: hidden;
}

.popUp {
  position: relative;
  animation: popUp 0.05s linear;
}

.popDown{
  position: relative;
  animation: popDown 0.1s linear;
}

.line-through{
  text-decoration: line-through;
}

footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

@keyframes popUp {
  0% { top: 44px }
  100% { top: 0px }
}

@keyframes popDown {

  0% { top: 0px }
  100% { top: 44px }

}
